.box {
  aspect-ratio: 1 / 1;
  width: 30%;
  border-radius: 10px;
  background-color: var(--color-primary-4);
  box-shadow: 5px 5px 5px 1px #dadce0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box:hover {
  transform: scale(1.05);
}

.img {
  width: 60%;
  border-radius: 10px;
}

.text {
  font: var(--font-body-medium);

  display: flex;
  flex-direction: column;
  align-items: center;
}
