.main {
  height: 75%;
  border-bottom: 1px solid #d2dae0;
  margin-top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 80px;
}
