.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  width: 700px;
  height: 650px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0 70px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.closeBtn {
  position: absolute;
  border: 1px solid var(--color-black);

  top: -16px;
  right: -16px;
  font: var(--font-body-large);
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
