.optionButton {
  flex: 1 0 calc(50% - 12px);
  height: 75px;
  border-radius: 5px;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  font: var(--font-body-medium);
}

.active {
  border: 2px solid var(--color-black);
}
