.container {
  border-bottom: 1px solid #d2dae0;
  width: 800px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}
