.menuLayout {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.menuCard {
  width: 260px;
  height: 260px;
  aspect-ratio: 1 / 1;
  font: var(--font-body-medium);
  border-radius: 10px;
  background-color: var(--color-primary-4);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.optionsLayout {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonsLayout {
  width: 290px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.buttonsRowLayout {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.counterLayout {
  display: flex;
  gap: 20px;
  font: var(--font-body-large);
  align-items: center;
}

.counterButton {
  font: var(--font-body-large);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
}

.addBtn {
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  font: var(--font-body-large);
  color: var(--color-white);
  background: #f0c8c8;
}

.img {
  width: 60%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.active {
  background: var(--color-red);
}

.animation {
  transform: translateY(550px) translateX(-80px) scale(0);
}
