.amountBtnLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.98rem;
}

.amountBtn {
  width: 16.5rem;
  height: 5.9375rem;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font: var(--font-body-large);
  font-size: 1.75rem;
  border-radius: 5px;
  border: 3px solid var(--color-secondary);
  box-shadow: 0px 7px 0 rgba(0, 0, 0, 0.2);
}

.amountBtn:active {
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  top: 7px;
  transform: scale(0.97);
}

.amountTextLayout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amountTextLayout span {
  font: var(--font-body-large);
  font-size: 1.75rem;
}

.paymentBtn {
  margin-top: -35px;
  display: flex;
  width: 100%;
  height: 5.1875rem;
  justify-content: center;
  align-items: center;
  background: #f0c8c8;
  font: var(--font-body-large);
  font-size: 1.85rem;
  color: var(--color-white);
  border-radius: 5px;
}

.active {
  background-color: var(--color-red);
}
